
.to-do-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1.6rem;
    box-shadow: 0px 5px 12px #CAD2C5;
}

.to-do-item:hover{
    box-shadow:0px 5px 20px #CAD2C5;
}

.item--complete-button {
    font-size: 2rem;
    cursor: pointer;
}

.to-do-item p {
    transition: 200ms;
    font-weight: light;
    color: #2F3E46;
    flex-grow: 1;
    margin: 0 2rem;
}

.to-do-item i {
    transition: 200ms;
    font-weight: light;
    color: #868b83;
    flex-grow: 1;
}

.to-do-item.completed > p{
    transition: 200ms;
    text-decoration: line-through;
    color: #84A98C;
}

.to-do-item.completed i{
    transition: 200ms;
    color: #84A98C;
}


.item--delete-button {
    font-weight: bolder ;
    color:  #868b83;
    margin: 0 2rem;
    justify-self: flex-end;
    cursor: pointer;
}
.item--delete-button:hover{
    color: #2F3E46;
}

