--main
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-1: #2F3E46;
  --color-2: #354F52;
  --color-3: #52796F;
  --color-4: #84A98C;
  --color-5: #CAD2C5;
}
html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  align-items: center;
}
#root{
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  min-width: 280px;
}